/* General style */
html {
  height: 100%;
}

body {
  background-color: rgb(159, 192, 204);
  /* background: linear-gradient(90, white 50%, black 50); */
  /* background: linear-gradient(90deg, #fdcd3b 80%, #ffed4b 80%); */

  font-family: verdana;
  margin: auto;
  height: 100%;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

h3 {
  color: rgb(255, 255, 255);
}

p {
  font-size: 16px;
  color: rgb(255, 255, 255);
}

button {
  font-family: verdana;
  color: rgb(255, 255, 255);
  background-color: transparent;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border: 2px solid white;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

form {
  font-family: verdana;
  color: rgb(255, 255, 255);

}

input {
  font-family: verdana;
  color: rgb(255, 255, 255);
  background-color: transparent;
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border: 2px solid white;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

small {
  font-size: 12px;
  color: rgb(255, 255, 255);
}

address {
  font-size: 12px;
  color: rgb(255, 255, 255);
}


/* Specific elements style */
#search {
  display: inline-block;
}

#curLoc {
  display: inline-block;
}

#suggestionButton {
  position: relative;
  top: 5px;
  display: block;
  border: none;
  padding: none;
  text-decoration: underline;

  /* padding: 4px; */

  border-radius: none;
  box-shadow: none;
}

#suggestionButton:hover {
  font-weight: bold;
}

#suggestionButton:active {
  color: lightgray;
  font-weight: bold;
}

#suggestionsWarning {
  position: relative;
  top: 10px;
}

#main {
  background-color: rgb(88, 141, 160);
  /* background: linear-gradient(90, white 50%, black 50); */
  /* background: linear-gradient(90deg, #fdcd3b 80%, #ffed4b 80%); */

  max-width: 960px;
  height: 100%;
  margin: auto;

  border: 1px 50%;
  padding: 64px;
  padding-top: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 8px 16px 0px,
    rgba(60, 64, 67, 0.15) 0px 16px 48px 16px;
}



#title{
  background-color: rgb(159, 192, 204);
  padding:12px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 4px 8px 0px,
    rgba(60, 64, 67, 0.15) 0px 8px 24px 8px;
}